* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale*/

body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

/* Header */

header {
    margin-bottom: 2rem;
}

header nav {
    height: 70px;
    width: 100%;
    background-color: #ff6900;
    padding: 1rem 10rem;
    box-shadow: 1px 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    ;
}

header nav img {
    height: 2rem;
}

header nav li,
header nav a {
    padding: 0 .3rem;
}

/* Main */

main {
    margin: 0 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    display: flex;
    flex-direction: column;
    width: calc(33% - 1rem);
    margin-bottom: 3rem;
    position: relative;
}

main article img {
    object-fit: contain;
    overflow: hidden;
}

/* Footer */

footer nav {
    height: 100px;
    width: 100%;
    background-color: #1a1a1a;
    padding: 1cap 0;
    box-shadow: 1px 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

/* Classi generiche */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

/* Classi specifiche */

.brand {
    font-size: .8rem;
}

.product {
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    font-weight: bold;
    font-size: .8rem;
    color: red;
}

.deleted {
    color: gray;
    text-decoration: line-through;
}