* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale*/

body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

li {
    padding-right: .3rem;
}

/* Header */

header {
    margin-bottom: 8rem;
}

header nav {
    height: 70px;
    background-color: #ff6900;
    padding: 1rem 10rem;
    box-shadow: 1px 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
}

header nav img {
    height: 2rem;
}

/* Main */

main {
    margin: 0 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    display: flex;
    flex-direction: column;
    width: calc(33% - 1rem);
    margin-bottom: 3rem;
    position: relative;
}

main article img {
    object-fit: contain;
    overflow: hidden;
}

/* Footer */

footer nav {
    padding: 0 10rem;
    background-color: #1a1a1a;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer section p:first-child {
    margin-bottom: 1rem;
}

.social a {
    padding: 0 .5rem;
}

footer li {
    font-size: 0.8rem;
    padding-right: 1rem;
}

footer section:last-child {
    align-items: flex-start;
}

/* Classi generiche */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}


.right {
    left: 16%;
}

/* Classi specifiche */

.brand {
    font-size: .8rem;
}

.product {
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    font-weight: bold;
    font-size: .8rem;
    color: red;
}

.deleted {
    color: gray;
    text-decoration: line-through;
}

.heart {
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 0;
}

.tag {
    position: absolute;
    padding: 0.4rem .8rem;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    top: 80%;
}

.no-show {
    display: none;
}

/* Hover */

article:hover .show {
    display: none;
}

article:hover .no-show{
    display: initial;
}

.heart:hover {
    color: red;
    cursor: pointer;;
}